.spinner {
    border: 4px solid rgba(0, 0, 0, 0.0);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    position: absolute;
    top: -9px;
    left: -9px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}