@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontspring";
  src: url("../public/Fontspring.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "BlackBones";
  src: url("../public/blackbones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alatsi";
  src: url("../public/alatsi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "fontspring";
  src: url("../public/Fontspring.otf") format("truetype");
  // font-weight: 100;
  font-style: normal;
}


/* Utility */
.navbarhide {
  transform: translateY(0);

}

.navbarshow {
  transform: translateY(-100%);

}

.font-inter {
  text-rendering: optimizeSpeed;
  font-family: Inter, sans-serif;
}

.font-poppins {
  text-rendering: optimizeSpeed;
  font-family: Poppins;
}

.font-fontspring {
  text-rendering: optimizeSpeed;
  font-family: fontspring;
}

.fade {
  animation: fade 0.5s ease-in-out;
}

.text-cyan {
  color: rgb(0, 162, 255);
}

.z-100 {
  z-index: 999999;
}

.z-no {
  z-index: -1;
}

.habit-heading {
  background: linear-gradient(90deg, #AA77FF 0%, rgba(170, 119, 255, 0.1) 100%), linear-gradient(270deg, #E90064 0%, rgba(233, 0, 100, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#ripple {
  overflow: hidden;
}

.ripple-hover {
  opacity: 0.5;
  position: absolute;
  background: linear-gradient(180deg,
      #ab77ff2d -61.5%,
      rgba(170, 119, 255, 0) 100%),
    linear-gradient(269.62deg, #00f0b42d 0.11%, rgba(0, 240, 181, 0) 98.77%),
    #00aeff2d;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: login-hover 0.5s linear;
}

.bd {
  animation: bd 2s ease-in-out;
}

.bt {
  animation: bt 1.5s ease-in-out, fade 1.5s ease-in-out;
}

.tb {
  animation: tob 1.5s ease-in-out, fade 1.5s ease-in-out;
}

.lr {
  animation: left-to-right 2s ease-in-out;
}

.rl {
  animation: right-to-left 2s ease-in-out;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
  /* Apply the floating animation */
}

.font-btn-gradient {
  background: linear-gradient(90deg, #00AEFF 0%, #00F0B5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.transform-letter {
  transition: 0.2s all ease-in-out;
  transform: scale(1);
  letter-spacing: 0px;
}

.transform-letter:hover {
  transition: 0.2s all ease-in-out;
  letter-spacing: 5px;
}

.bg-habits {
  background: linear-gradient(90deg, rgba(0, 174, 255, 1) 0%, rgba(0, 240, 181, 1) 50%, rgba(255, 255, 0, 1) 100%);
}

.bg-productivity {
  background: linear-gradient(90deg, rgba(236, 59, 135, 1) 0%, rgba(206, 176, 255, 1) 70%, rgba(255, 255, 0, 1) 100%);

}

.bg-community {
  background: linear-gradient(90deg, rgb(121, 59, 236) 0%, rgb(109, 114, 184) 70%, rgba(255, 255, 0, 1) 100%);

}

.habit-bg-img {
  background-image: url("../public/habit-bg-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.slideup {
  animation: fade 5s ease-in-out;
}

h1:nth-child(2).slideup {
  animation: fade 6s ease-in-out;

}

h2.slideup {
  animation: fade 6s ease-in-out;

}

.fade {
  animation: fade 2s ease-in-out;

}

.h-85 {
  height: 100%;
}

.h-80 {
  height: 22rem;
}

.feedbutton {
  width: 62px;
  height: 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
  border: 1px solid #FFFFFFBF;
  color: #DDDDDD;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;



}

.feedcardinput {
  width: 100%;
  padding-left: 10px;
  height: 29px;
  color: #696E91;

  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
  border-radius: 14px;
  border: 0.75px solid #47474780;
  background: #47474780;


}

.feedcardtitle {
  color: #DDDDDD;

  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}

.feedcardbody {

  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #A5A5A5;

}

.px-8 {
  padding-left: 0rem;
  padding-right: 2rem;
}

.videowidth {
  width: 100% !important;
  height: 28rem !important;
}

.videocontainer {
  width: 100% !important;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animations */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes login-hover {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 1000px;
    height: 500px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
    /* Initial position */
  }

  50% {
    transform: translateY(10px);
    /* Initial position */
  }

  100% {
    transform: translateY(0);
    /* Initial position */
  }
}

@keyframes bt {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes tob {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bd {
  to {
    transform: translateY(100px);
  }
}

@keyframes moveballs {
  0% {
    left: 0;
    top: 0;
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

div {
  font-family: "fontspring";
}

button {
  font-family: "fontspring";
}

span {
  font-family: "fontspring";
}

.showmodal {
  animation: fade 0.6s ease-in-out
}

.poptotop {
  animation: fade 1s ease-in-out, poptotop 1s ease-in-out;
}

@keyframes poptotop {
  0% {
    transform: scaleY(200px);
  }

  100% {
    transform: scaleY(0px);

  }
}

.hoverpop {
  transition: 0.6s all;
  transform: scale(1) translateY(0);
}

.hoverpop:hover {
  transition: 0.6s all;
  transform: scale(1.01)translateY(-5px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

.pageentry {
  opacity: 1;
  // transform: translateX(0px);
  animation: pageentry 0.5s ease-in-out;
}

@keyframes pageentry {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);

  }
}

.pageexit {
  opacity: 0;
  animation: fade 0.1s ease-in-out;
  display: none;
}

.lofi {
  overflow: hidden;

  &::before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.sanity.io/images/mrfd4see/production/b7295ae50431a7650d6270d1597ea423cf7c8a49-4435x2951.jpg?w=2000&fit=max&auto=format");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
  }
}

.sidebar:hover {
  transition: 0.1s all;
  transform: scale(1.1);
  filter: brightness(1.3);
  color: rgb(198, 198, 198);
}

.sidebar {
  transition: 0.1s all;
  transform: scale(1);
  filter: brightness(1);
}

.blog h1 {
  font-weight: 700;
}

.preview pre {
  font-size: 1.7rem;
  font-weight: 700;
  background-color: transparent;
}


.blog h2 {
  font-size: 1.5rem;
  font-weight: 650;
}

.blog h3 {
  font-size: 1.23rem;
  font-weight: 600;
}

.blog h4 {
  font-size: 1.0rem;
  font-weight: 550;
}

.blog h5 {
  font-size: 0.9rem;
  font-weight: 500;
}

.skeletonloading {
  background: linear-gradient(to right, transparent 0%, #f2f2f283 50%, transparent 100%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.blog h6 {
  font-size: 0.7rem;
  font-weight: 600;
}

.blog p {
  font-size: 0.9em;
  font-weight: 500;
}

.blog pre {
  text-size: 0.9em;
  font-weight: 500
}

/* Utility */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-blackbones {
  font-family: BlackBones;
}

.font-fontspring {
  font-family: "fontspring";
}

.font-alatsi {
  font-family: alatsi;
}

.text-cyan {
  color: rgb(0, 162, 255);
}

.z-100 {
  z-index: 999999;
}

.z-no {
  z-index: -1;
}

/* Animations */
@keyframes gradientscale {
  0% {
    opacity: 0;
    filter: blur(0px);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    filter: blur(150px);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes moveballs {
  0% {
    left: 0;
    top: 0;
  }
}

/* HTML */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: #535353;
}

::selection {
  background-color: rgb(80, 80, 80);
  color: #a1a0a0;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;

  transition: 1s ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b
}

body {
  @apply text-black;
}

.fade {
  animation: fade 1.2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Home */
#hero-arrow {
  fill: linear-gradient(0deg, #2e2e2e, #2e2e2e),
    linear-gradient(123.01deg, #00f0b5 0.69%, rgba(0, 240, 181, 0) 102.8%);
}

ul {
  background: white;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.Link {
  display: inline-block;
  position: relative;
}

.Link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0059ff 0%, #6cff5f 77%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.Link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.activelink {
  border-bottom: solid 2px transparent;
  border-image: linear-gradient(to right, #0059ff, #6cff5f) 1;
  font-weight: 500;
}

svg {
  display: inline-block;
  vertical-align: bottom;
}

/* -revolving balls */
#animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav {
  transition: transform 0.3s ease-in-out;
}

.ball {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: moveballs 3s ease-in-out;
  filter: blur(1px);
}

.ball-1 {
  background: linear-gradient(358.83deg,
      #00aeff 0.94%,
      rgba(0, 174, 255, 0) 98.98%),
    linear-gradient(179.59deg, #00f0b5 0.36%, rgba(0, 240, 181, 0) 141.19%);
  width: 29px;
  height: 29px;
}

.ball-2 {
  width: 29px;
  height: 29px;
  background: linear-gradient(358.83deg,
      #e90064 0.94%,
      rgba(233, 0, 100, 0) 98.98%),
    linear-gradient(179.59deg, #f9b5d0 0.36%, rgba(249, 181, 208, 0) 141.19%);
}

.ball-3 {
  width: 42px;
  height: 42px;
  background: linear-gradient(to bottom right, #4b0082, #9400d3);
  background: linear-gradient(358.83deg,
      #00aeff 0.94%,
      rgba(0, 174, 255, 0) 98.98%),
    linear-gradient(179.59deg, #00f0b5 0.36%, rgba(0, 240, 181, 0) 141.19%);
}

.ball-4 {
  width: 42px;
  height: 42px;
  background: linear-gradient(358.83deg,
      #e90064 0.94%,
      rgba(233, 0, 100, 0) 98.98%),
    linear-gradient(179.59deg, #f9b5d0 0.36%, rgba(249, 181, 208, 0) 141.19%);
}

/* -gradeint */
.hero-gradient-bg {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  filter: blur(150px);
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
}

.cyan {
  top: 55%;
  left: 37%;

  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;

}

.purple {
  top: 43%;
  left: 50%;
  background-image: radial-gradient(circle at center, #aa77ff, #00aeff);
  background-clip: content-box;
}

#cyan {
  top: 55%;
  left: 63%;

  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;
}

#purple {
  top: 70%;
  left: 50%;
  width: min(21vw, 40vh);
  height: min(21vw, 40vh);

  background-image: radial-gradient(circle at center, #aa77ff, #aa77ff);
  background-clip: content-box;
}

#cyan1 {
  top: 80%;
  left: 80%;
  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;
}

#cyan2 {
  top: 80%;
  left: 20%;
  background-image: radial-gradient(circle at center, #00f0b5, #00aeff);
  background-clip: content-box;
}

#green1 {
  top: 75%;
  left: 40%;
  background: #00f0b5;
  background-clip: content-box;
}

#green2 {
  top: 75%;
  left: 60%;
  background: #00f0b5;
  background-clip: content-box;
}

/* -Skateboard */
#skateboard {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 39%;
  width: 400px;
  position: relative;
  overflow: visible;
}

// copyed from ownboon repo (Counter)


.skatebar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 50px;
  border: 1px solid cyan;
}

#counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countsquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countsquare:nth-child(1) {
  background: linear-gradient(90deg, rgba(178, 251, 255, 1) 0%, rgba(215, 255, 223, 1) 50%, rgba(255, 255, 255, 1) 100%);

  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;
}

.countsquare:nth-child(2) {
  background: linear-gradient(90deg, rgba(255, 176, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);

  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;
}

.countsquare:nth-child(3) {
  background: linear-gradient(90deg, rgba(255, 176, 254, 1) 0%, rgba(175, 255, 203, 1) 50%, rgba(255, 255, 255, 1) 100%);

  border: 1px solid #ffffff;
  filter: drop-shadow(1px 2px 5px rgba(233, 0, 100, 0.25));
  border-radius: 0px 10px 10px 10px;
  background-clip: content-box;
}

.login {
  background-image: linear-gradient(90deg, #00a2ff 0%, #e8ffd5 100%);
  border-radius: 35px;
  transition: 0.2s all ease-in-out;
  letter-spacing: 0px;
}

.login:hover {
  transition: 0.2s all ease-in-out;
  letter-spacing: 3px;
  transform: 0;
}

.login:active {
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
}

/* Body */
.heading {
  text-align: center;
  font-family: Poppins;
}

.revealtitle {
  opacity: 0;
}

.revealtitle.show {
  animation: tob 1s ease-in-out, fade 1s ease-in-out;
  opacity: 1;
}

.heading h1 {
  font-weight: 600;
  background: linear-gradient(90deg, #00f0b5 0%, rgba(0, 240, 181, 0.1) 100%),
    linear-gradient(270deg, #00aeff 0%, rgba(0, 174, 255, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.benefit-heading {
  font-weight: 600;
  background: linear-gradient(90deg, #aa77ff 0%, rgba(170, 119, 255, 0.1) 100%),
    linear-gradient(270deg, #e90064 0%, rgba(233, 0, 100, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.review-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg,
      rgba(233, 0, 100, 0.4) 0%,
      rgba(0, 174, 255, 0.6) 41.15%,
      rgba(0, 180, 248, 0.6) 46.93%,
      rgba(0, 240, 181, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bodyimg1 {
  background: url("../public/bodyimage1bg.webp");
  background-repeat: no-repeat;
  background-size: contain;

}

.bodyimg2 {
  background: url("../public/bodyimage2bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.bodyimg3 {
  background: url("../public/bodyimage3bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Benefits */
.benefit-container {
  flex-direction: column;
}

.headingleft {
  opacity: 0;
}

.headingleft.show {
  animation: left-to-right 1s ease-in-out, fade 1.5s ease-in-out;
  opacity: 1;
}

.headingright {
  opacity: 0;

}

.headingright.show {
  animation: right-to-left 1s ease-in-out, fade 1.5s ease-in-out;
  opacity: 1;

}

.paragraph {
  opacity: 0;
}

.paragraph.show {
  animation: fade 1.5s ease-in-out;
  opacity: 1;

}

.sphere {
  height: 20vh;
  width: 10vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
}

.sphere.show {
  opacity: 1;
}

.sphere:nth-child(1).show {
  animation: fade 1.5s ease-in-out;
}

.sphere:nth-child(2).show {
  animation: fade 3s ease-in-out;
}

.sphere:nth-child(3).show {
  animation: fade 2s ease-in-out;
}

.sphere:nth-child(4).show {
  animation: fade 4s ease-in-out;
}

.spherebg {
  z-index: -1;
  height: 142px;
  width: 134px;
  border-radius: 50%;
  position: absolute;
}

.benefit-txt {
  opacity: 0;
}

.benefit-txt.show {
  opacity: 1;
  animation: 1s scale ease-in-out, 2s fade;
}

.benefit-dot-left {
  opacity: 0;
}

.benefit-dot-left.show {
  opacity: 1;
  animation: 1s scale ease-in-out, 1s right-to-left;
}

.benefit-dot-right {
  opacity: 0;
}

.benefit-dot-right.show {
  opacity: 1;
  animation: 1s scale ease-in-out, 1s left-to-right;
}

/* reviews */
.review-card {
  text-align: left;

  border-radius: 19px;
  --webkit-backdrop-filter: blur(25px);
  transform-style: preserve-3d;
}

.review-card:nth-of-type(1),
.review-card:nth-of-type(4) {
  background: linear-gradient(90deg, rgba(220, 253, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.review-card:nth-of-type(2),
.review-card:nth-of-type(5) {
  background:
    linear-gradient(90deg, rgb(232, 255, 224) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%) left,
    linear-gradient(270deg, rgb(232, 255, 224) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%) right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.review-card:nth-of-type(3),
.review-card:nth-of-type(6) {
  background: linear-gradient(270deg, rgb(255, 220, 220) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}


.preview {
  background: rgb(241, 241, 247);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* about */
.crew {
  opacity: 0;
}

.about-bg {
  background-image: url("../public/aboutbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.crew.show {
  opacity: 1;
  animation: scale 1s ease-in-out;
}

.som-bg {
  background-image: url("../public/sombg.webp");
  background-repeat: no-repeat;
  background-size: 100%;

}

.sarthak-bg {
  background-image: url("../public/sarthakbg.webp");
  background-repeat: no-repeat;
  background-size: 100%;

}

.alok-bg {
  background-image: url("../public/alokbg.webp");
  background-repeat: no-repeat;
  background-size: 100%;

}

.ivavi-bg {
  background-image: url("../public/avibg.webp");
  background-repeat: no-repeat;
  background-size: 100%;

}

/* responsiveness */
@media (max-width: 768px) {
  .h-85 {
    height: 85%;
  }

  .videowidth {
    width: 100% !important;
    height: 100% !important;
  }

  .bottom-11 {
    bottom: 5.75rem;
  }

  .ball {
    display: none;
  }

  .countsquare h6 {
    font-size: 0.6rem;
  }

  .login {
    width: 20vw;
  }

  .countsquare:nth-child(3) {
    margin-top: 20px;
  }
}

@media (max-width: 370px) {
  .countsquare:nth-child(2) {
    margin-top: 20px;
  }

  .countsquare:nth-child(1) {
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  #benefit {
    background: none;
  }
}

@media (max-width: 1000px) {
  .cyan:nth-of-type(3) {
    left: 0;
  }

  .hero-gradient-bg {
    left: 0;
  }

}








.blog body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 1rem;
}

.blog table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
.blog table:not([cellpadding]) th,
.blog table:not([cellpadding]) td {
  padding: 0.4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.blog table[border]:not([border="0"]):not([style*="border-width"]) th,
.blog table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.blog table[border]:not([border="0"]):not([style*="border-style"]) th,
.blog table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.blog table[border]:not([border="0"]):not([style*="border-color"]) th,
.blog table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #ccc;
}

.blog figure {
  display: table;
  margin: 1rem auto;
}

.blog figure figcaption {
  color: #999;
  display: block;
  margin-top: 0.25rem;
  text-align: center;
}

.blog hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.blog code {
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.blog .mce-content-body:not([dir=rtl]) blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.blog .mce-content-body[dir=rtl] blockquote {
  border-right: 2px solid #ccc;
  margin-right: 1.5rem;
  padding-right: 1rem;
}

.animate-floaty {
  animation: floaty 8s ease-in-out forwards infinite;
  transition: 1s all;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
}